:root{
  --primary: #4f46e5;
  --hover: #eef2ff;
}
*{
  box-sizing: border-box;
  
}
body{
    /* background: rgb(187, 227, 187); */
    padding: 1rem;
    background-color: #eff2ff ;
}
.question{
    color: black;
    margin-bottom: 1.4rem;
}


  .cardQuestion {
    border-radius: 1rem;
    border: 1px solid transparent; 
    background-color: white;
    color: black;
    padding: 1.5rem;
  }
  

  /* arrows section */

  .arrow{
    font-size : 30px;
    font-weight : 900;
    width: 30px !important;
    height: 30px !important;
  }
  

  .arrow:hover{
    /* background-color: rgb(101, 160, 101); */
    transform: translateY(-10px);
    border-radius: 50%;
  }
  
  

  /* flag */
  .color-red-toggle{
    color: var(--primary);
  }


  .question_flags li{
    background-color: rgb(101, 160, 101);
    color: white;
    font-weight: bold;
    border: none;
    
  }

  .question_flags div{
    background-color: var(--hover);
    color: white;
    font-weight: bold;
    border-bottom: 1px solid;
    border: 1px solid var(--primary);
    border-radius: 10px;
  }

   /* Question Flags */
   .question_flags .flag{
      color: var(--primary);
   }
   .flaggedQuestion li{
    color: var(--primary);
    background-color: var(--hover);
    border: 0 !important;
   }
   .question_flags .list-group-item:hover {
    border: 0!important;

   }
   /* Timer */
  
   .bi-stopwatch{
     font-size: 20px;
   }

   /* Toggle Class */
   .questionSelected {
    background-color: #eef2ff;
    border: 1px solid var(--primary) !important;
    color: black;
   }

   .list-group{
    gap: 10px;
   }
   .list-group li {
    border: 1px solid rgb(199, 199, 199) ;
    border-radius: 10px !important;
   }
   .list-group li:hover{
    border: 1px solid var(--primary) !important;
   }
   .border-remove{
    border: 1px solid var(--hover) !important;
   }

   .btn-outline-success{
    background-color: var(--primary);
    color: white;
    border: 0;
    padding: 0.5rem;
    width: 100px;
   }

   .btn-outline-success:hover{
    background-color: #655ee6;;
   }